/* Theme Documentation */

@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@300&display=swap");
:root {
  --cai-core-fontFamily-heading: "Ubuntu", sans-serif;
  --cai-core-fontFamily-body: "Roboto", sans-serif;
}
body {
  padding: var(--cai-core-space-m);
}

.repo-main article {
  margin-bottom: var(--cai-core-space-m);
}

.repo-main article footer {
  margin-top: var(--cai-core-space-m);
}
