/* 
  VARIABLES
  Naming: prefix + scope + propertyName + extraInfo (--cai-core-fontFamily-heading)
  */
:root {
  --cai-core-color-primary: blueviolet;
  --cai-core-color-primaryDark: indigo;
  --cai-core-color-primaryLight: violet;

  --cai-core-color-secondary: green;
  --cai-core-color-secondaryDark: darkgreen;
  --cai-core-color-secondaryLight: yellowgreen;

  --cai-core-color-white: ghostwhite;

  --cai-core-backgroundColor: var(--cai-core-color-white);
  --cai-core-textColor: var(--cai-core-color-primaryDark);
  --cai-core-fontFamily-heading: sans-serif;
  --cai-core-fontFamily-body: sans-serif;

  --cai-core-space-xs: 4px;
  --cai-core-space-s: 12px;
  --cai-core-space-m: 16px;
  --cai-core-space-l: 24px;
  --cai-core-space-xl: 32px;

  --cai-core-fontSize-xs: 8px;
  --cai-core-fontSize-s: 12px;
  --cai-core-fontSize-m: 16px;
  --cai-core-fontSize-l: 24px;
  --cai-core-fontSize-xl: 32px;
}
